.navbar {
  background: linear-gradient(to right, #030526, #02000d, #1b0140);
}

#cartWidget {
  margin-inline: 2rem;
  font-size: 1.3rem;
  color: whitesmoke;
}

.contadorCartWidget {
  position: absolute;
  background-color: green;
  padding-inline: 0.3rem;
  border-radius: 50%;
  font-size: 0.7rem;
  top: 0.5rem;
}

#sectionCategorias {
  display: flex;
  justify-content: center;
  margin: 1rem;
}
